<div class="sign-container">
  <h2><%= resource_name.to_s.humanize %>の変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>現在確認を待っています for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <em>(パスワードは最小 <%= @minimum_password_length %> 文字、かつ、英数字を1文字以上含んでください。変更したくない場合は空白のままにしてください。)</em>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>


    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <em>(変更を確認するには、現在のパスワードが必要です)</em>
    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "変更" %>
    </div>
  <% end %>

  <div>
    <h3>アカウントの削除</h3>
    <p>削除を希望しますか? <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "この操作は取り消すことができません。本当にアカウントの削除を実行しますか?" }, method: :delete, class: "delete" %></p>
  </div>

  <%= link_to "戻る", :back %>

</div>