<div class="sign-container">
  <h2>アカウントの新規作成</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "sign_up_form") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(最小 <%= @minimum_password_length %> 文字)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :dream %><br />
      <%= f.text_field :dream %>
    </div>

    <div class="field">
      <%= f.label :region_id %><br />
      <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :climate_id %><br />
      <%= f.collection_select(:climate_id, Climate.all, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :housemate_id %><br />
      <%= f.collection_select(:housemate_id, Housemate.all, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :children_id %><br />
      <%= f.collection_select(:children_id, Children.all, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :clean_status_id %><br />
      <%= f.collection_select(:clean_status_id, CleanStatus.all, :id, :name, {}, {}) %>
    </div>

    <div class="actions">
      <%= f.submit "新規作成" %>
    </div>
  <% end %>
</div>