<div class="sign-container">
  <h2>アカウントの新規作成</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "sign_up_form") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname, class: "required" %>
      <em>(あたなたの名前を6文字以下で入力してください)</em>
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
    </div>

    
    <div class="field">
      <%= f.label :email, class: "required" %>
      <em>(同じメールアドレスがすでに登録されている場合、新たに登録はできません)</em>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "required" %>
      <em>(パスワードは最小 <%= @minimum_password_length %> 文字、かつ、英数字を1文字以上含んでください)</em>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "required" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :dream %>
      <em>(あなたが、ミニマリズムを取り入れて集中したい夢や目標をお聞かせください)</em>
      <%= f.text_field :dream %>
    </div>

    <div class="field">
      <%= f.label :high_id %>
      <em>(あたなたが実施したミニマリズムは、この1年間の最高気温から影響を受けているかもしれません)</em>
      <%= f.collection_select(:high_id, set_high, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :low_id %>
      <em>(あたなたが実施したミニマリズムは、この1年間の最低気温から影響を受けているかもしれません)</em>
      <%= f.collection_select(:low_id, set_low, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :housemate_id %>
      <em>(あたなたが実施したミニマリズムは家族や同居人から影響を受けているかもしれません)</em>
      <%= f.collection_select(:housemate_id, set_housemate, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :hobby_id %>
      <em>(あたなたが実施したミニマリズムは関心事の多さから影響を受けているかもしれません)</em>
      <%= f.collection_select(:hobby_id, set_hobby, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :range_with_store_id %>
      <em>(あたなたが実施したミニマリズムはお店の近さから影響を受けているかもしれません)</em>
      <%= f.collection_select(:range_with_store_id, set_range_with_store, :id, :name, {}, {}) %>
    </div>

    <div class="field">
      <%= f.label :clean_status_id %>
      <em>(あたなたの現在状況をお聞かせください)</em>
      <%= f.collection_select(:clean_status_id, set_clean_status, :id, :name, {}, {}) %>
    </div>

    <div class="actions">
      <%= f.submit "新規作成", class: "button is-secondary" %>
    </div>
  <% end %>
</div>