
<div class="definition">
  <div class="goal">
    <h2>ミニマリズムとは</h2>
    <p>目的を達成するために生活上に潜む小さなストレスを除去して、自身を目的にフル活用することを目指す志向です。</p>
    <p>捨てることが目的ではなく、集中することが目的です。</p>
  </div>
</div>

<div class="box">
  <h2>ミニマリズムの対象となるストレスとは</h2>
  <p>私達の生活にはさまざまなストレスが伴います。</p>
  <p>ストレスを具体的にあげるなら、人間関係のトラブル、プレッシャー、病気などがあります。</p>
  <p>これらは、大きさや種類も異なります。</p>
  <p>そして避けることが容易ではありません。</p>
  <p>人が生きることはストレスと上手く付き合う必要があります。</p>
  <p>これらのストレスの中でも、<strong>ミニマリズムは小さなストレスを対象</strong>とします。</p>


  <div class="in-box">
    <h3>小さなストレスなんて気にするほどでもない？</h3>
    <p>小さなストレスなんて気にするほどでもないと思われるかも知れません。</p>
    <p>しかし、<strong>マインドフルネス</strong>を生活に取り入れて、実際に自分の思考を観察してみてください。</p>
    <p>日々の生活の中は、小さなストレスの連続ではないでしょうか？</p>
    <p>そして、そのストレスを受けている状態のとき、あなたの「人生の目的」や「目の前の大きな課題」に集中できているでしょうか？</p>
    <p><strong>ミニマリズムでは、小さなストレスを減らすことで、「人生の目的」や「目の前の大きな課題」に集中することを目指します。</strong></p>
    <p>そのため、あくまでもミニマリズムは生活の中に潜む小さなストレスを見つけ出し対処することにあります。</p>
    <%= image_tag "woman-g6ac826e71_1920.jpg" %>
  </div>

  <div class="in-box">
    <h3>大きなストレスはどうする？</h3>
    <p>「人生の目的」や「目の前の大きな課題」に集中するとき、当然大きなストレス（失業、死別、失恋など）も問題であり、何かしらの対処が必要となります。</p>
    <p>それでは、ミニマリズムは片手落ちなのかと思われるかも知れませんが、それは早計だと思います。</p>
    <p>完璧な対処方法が無いなら対処しないというのは、白黒思考であり、現実的ではありません。</p>
    <p>もちろん、完璧なストレス対策なんて物があるなら、それを実施した方がいいですが、多くの人にとって、そのようなものは無いでしょう。</p>
    <p>また、大きなストレスを自身の思考１つで対処することもまた、現実的ではありません。</p>
    <p>大きなストレスは、家族や友人、精神科で相談することがベストです。</p>
    <p>あえてミニマリズムと大きなストレスの関係を述べるなら、<strong>自分に必要なミニマリズムを考える力は、自身のストレスを観察する力につながるため、ストレスと向き合う力が養えるとも言えるのではないでしょうか？</strong></p>
    <%= image_tag "people-ga7be2cb3d_1920.jpg" %>
  </div>
</div>

<%= link_to "上へ戻る", "#", class: "move-top" %>

<div class="box">
  <h2>全てを捨てなければミニマリストではない？</h2>
  <p>ミニマリズムを考えるとき、必ずしも物を捨てなければならないわけではありません。</p>
  <p>大切なのは、目的はあくまでも、<strong>集中したいことに集中できる環境が作れているか</strong>どうかです。</p>
  <p>そのため、<strong>捨てるだけではダメなパターン</strong>もあります。</p>
  
  <div class="in-box">
    <h3>捨てなくてもいいとき？</h3>
    <p>例えば、紙媒体の漫画が好きな人がいたとします。</p>
    <p>この方がミニマリズムを考えるとき、紙の漫画を全て捨てるべきでしょうか？</p>
    <p>答えとしては、<strong>趣味である漫画に集中した生活をおくりたいと思っている場合は、紙媒体で持っていて構いません。</strong></p>
    <p>漫画に集中したいなら、漫画以外の分野で、行動や思考の時間がかかっている内容を整理して、その内容を捨てる必要があります。</p>
    <%= image_tag "woman-g157131bab_1920.jpg" %>
  </div>

  <div class="in-box">
    <h3>捨てるときとは？捨てるだけではダメなパターンとは？</h3>
    <p>例えば、前項の紙媒体の漫画が好きな人がいたとします。</p>
    <p>もちろん、この方が、漫画以外に集中したいと思っているのに漫画を読んでしまうため集中できない、となれば手放すことを考えるべきです。</p>
    <p>漫画以外とは何があるでしょうか？</p>
    <ul>
      <li>起業したい</li>
      <li>プログラミングを学習して転職したい</li>
      <li>副業をして稼ぎたい</li>
      <li>・・・など</li>
    </ul>
    <p>手放し方もいろいろあります。</p>
    <ul>
      <li>漫画をゴミとして捨てる</li>
      <li>漫画を売却する</li>
      <li>紙は手放して電子書籍で買い直すことで、読書時間を自動計測したり、日頃は目につかないように隠しやすくする</li>
      <li>目的が終わるまでは実家に預ける</li>
    </ul>
    <p>捨てるだけではダメなパターンの例としては、電子書籍に買い換えることです。</p>
    <p>確かに物が少なくなることで、場所が生まれ、手元がスッキリします。</p>
    <p>手元がスッキリすることも大切なミニマリズムですが、ストレスの原因が、そもそも「漫画を読んでしまうため目的に手をつけてない」のであれば電子書籍化はだけでは意味がない可能性があります。</p>
    <p>それなら、いっそのこと売却するか、どうしても大切なら一時的にでも実家においておき、日常のスペースだけスッキリさせる方がいい場合もあります。</p>
    <%= image_tag "frog-g7751bd233_1920.jpg" %>
  </div>
</div>

<%= link_to "上へ戻る", "#", class: "move-top" %>

<div class="box">
  <h2>真似することが難しいミニマリズム</h2>
  <p>ミニマリズムの答えは人それぞれ異なるため、みんなに共通する答えがありません。</p>
  <p>あくまでも他人の意見は<strong>考える手助け</strong>と考えて、実施するときは自分にあった形を考えましょう。</p>

  <div class="in-box">
    <h3>救急箱は何を入れておくべき？</h3>
    <p>例えば、あなたの家の救急箱を確認してみてください。</p>
    <p>そして、どの家庭でも使える最適な救急箱を想像してみてください。</p>
    <p>すると次のことが言えるのではないでしょうか？</p>
    <ul>
      <li>救急箱は日頃使わないし、もしものときはコンビニと病院に行くだけなら、空でもいいのではないかもしれない。</li>
      <li>病気や怪我をすれば何か必要になる。そのタイミングで買いに行けるとは限らないので、たくさん準備があるほうがいい。</li>
      <li>薬には消費期限がある（消費期限を管理しきれていない）。</li>
      <li>人によって頻繁に使う薬が異なる。</li>
      <li>時代、季節、地域により、なりやすい病気と、それに対応する薬が異なる。</li>
      <li>地域によってはコンビニも病院も近くないため病気のときに必要なアイテムは欠かせない場合もある。</li>
    </ul>
    <p>いかがでしょうか？</p>
    <p>人により救急箱の中身は異なることがわかるかと思います。</p>
    <p>つまり、他人のミニマリズムをそのまま真似してもうまく行かないこともあります。</p>
    <%= image_tag "medicine-g2f9f67f32_1920.jpg" %> 
  </div>

  <div class="in-box">
    <h3>捨てる前にすること？</h3>
    <p>捨てるかどうかを決める際に、捨てたパターンの生活を行いましょう。</p>
    <p>具体的には押入れにしまったり、実家に送ったりしてください。</p>
    <p>それが冬服を捨てることになる場合であれば、冬の期間全てで確認してください。</p>
    <p>捨てて困る場合や、捨てても効果がなければ、それは別の手段が必要です。</p>
    <%= image_tag "sarah-brown-oa7pqZmmhuA-unsplash.jpg" %> 
  </div>
</div>

<%= link_to "上へ戻る", "#", class: "move-top" %>

<div class="box">
  <h2>このサイトを作った理由</h2>
  <p>２０２０年頃からミニマリズムという考え方を取り入れ、生活をシンプルにしようとする人々が話題になりました。</p>
  <p>ミニマリズムを持った人のことをミニマリストと呼び、一部のミニマリストがメディアでも取り上げられています。</p>
  <p>話題になり真似する人が増えたところまでは良かったのですが、問題も生まれました。</p>
  <p>ミニマリストで有名な人と同じ生活をしようとして、布団や服を減らした結果として病気になったり、お金を多く消費したのちミニマリズムをやめてしまう人が出てきました。</p>
  <p>本来、ミニマリズムは注力したい対象があり、注力するために生活をシンプルにするという考え方のはずです。</p>
  <p>決して物を持ってはいけないわけではありません。</p>
  <p>極端に物を持たない人だけが有名になり、そのことだけがクローズアップされた結果、誤解が生まれていると思います。</p>
  <p>そこで、もっと気軽にミニマリズムに関する情報を共有できるサイトの構築が必要だと思いました。</p>
  <p>現状、ミニマリストが気軽に情報を発信しているメディアは、Twitterだと思います。</p>
  <p>Twitterがダメとは言いませんが、どうしても埋もれてしまう内容が多いと思います。</p>
  <p>ミニマリズムに関する情報を共有する専用サイトを構築することで、ミニマリズムの実現や情報の整理を助けるサイト構築を行いたいと考えました。</p>
</div>