<div class="card">
  <%# いつ誰が作ったのか %>
  <div class="nickname">
    <%= link_to experience.user.nickname, user_path(experience.user_id) %> が <%= l experience.updated_at %> に投稿
  </div>
  <%# タイトル %>
  <div class="title">
    <h1>
      <%= link_to experience_path(experience.id) do %>
        <%= experience.title %>
      <% end %>
    </h1>
  </div>
  <%# 基本情報 %>
  <table>
    <tr>
      <td class="header"><i class="far fa-user"></i></td>
      <td class="item">
        <p class="user-item">[<%=  t("activerecord.attributes.user.dream") %>] <%= experience.user.dream %></p>
        <p class="user-item">[<%=  t("activerecord.attributes.user.high_id") %>] <%= experience.user.high.name %></p>
        <p class="user-item">[<%=  t("activerecord.attributes.user.low_id") %>] <%= experience.user.low.name %></p>
        <p class="user-item">[<%=  t("activerecord.attributes.user.housemate_id") %>] <%= experience.user.housemate.name %></p>
        <p class="user-item">[<%=  t("activerecord.attributes.user.hobby_id") %>] <%= experience.user.hobby.name %></p>
        <p class="user-item">[<%=  t("activerecord.attributes.user.range_with_store_id") %>] <%= experience.user.range_with_store.name %></p>
        <p class="user-item">[<%=  t("activerecord.attributes.user.clean_status_id") %>] <%= experience.user.clean_status.name %></p>
      </td>
    </tr>
    <tr>
      <td class="header"><i class="fas fa-tags"></i></td>
      <td class="item"><%= join_tags(experience.tags) %></td>
    </tr>
    <tr>
      <td class="header"><i class="fas fa-angry"></i></td>
      <td class="item"><%= experience.stress %></td>
    </tr>
    <tr>
      <td class="header"><i class="far fa-check-circle"></i></td>
      <td class="item"><%= experience.category.name %>
    </tr>
    <tr>
      <td class="header"><i class="far fa-calendar-alt"></i></td>
      <td class="item"><%= experience.period.name %></td>
    </tr>
    <tr>
      <td class="header">
        <% if user_signed_in? && user_liked?(experience) %>
          <i class="fas fa-heart active"></i>
        <% else %>
          <i class="fas fa-heart inactive"></i>
        <% end %>
      </td>
      <td class="item"><%= count_liked(likes_count, experience) %> いいね</td>
    </tr>
    <tr>
      <td class="header">
        <% if user_signed_in? && user_imitated?(experience) %>
          <i class="fas fa-thumbs-up active"></i>
        <% else %>
          <i class="fas fa-thumbs-up inactive"></i>
        <% end %>
      </td>
      <td class="item"><%= count_imitated(imitates_count, experience) %> 真似した</td>
    </tr>
  </table>
</div>