<div class="experience-index">
  <h1>経験の投稿記事一覧</h1>
  <div class="indexs">
    <div class="search-items">
      <h2>検&emsp;索</h2>
      <div class="field">
      <%= search_form_for @q, url: search_article_experiences_path do |f| %>
        <%= f.label :title_or_stress_or_content_body_cont, 'テキスト検索' %>
        <%= f.search_field :title_or_stress_or_content_body_cont %>
        <br>
        <details class="option">
        <%# FIXME: tags_id_eq の翻訳がうまくいかない %>
        <%= f.label :tags_id_eq, 'タグ は以下と等しい' %>
        <%= f.collection_select :tags_id_eq, set_tag, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.label :category_id_eq %>
        <%= f.collection_select :category_id_eq, set_category, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.label :period_id_eq %>
        <%= f.collection_select :period_id_eq, set_period, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.label :sorts %>
        <%= f.select :sorts, set_sort %>
        <br>
        </details>
        <%= button_tag type: 'submit', class: "submit" do %>
          検索 <i class="fas fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="cards">
      <% @experiences.each do |experience| %>
        <div class="card">
          <div class="nickname">
            <%= experience.user.nickname %> が <%= l experience.updated_at %> に投稿
          </div>
          <div class="title">
            <%= experience.title %>
          </div>
          <table>
            <tr>
              <td class="header"><i class="far fa-user"></i></td>
              <td class="item">
                <p class="user-item">[<%=  t("activerecord.attributes.user.dream") %>] <%= experience.user.dream %></p>
                <p class="user-item">[<%=  t("activerecord.attributes.user.region_id") %>] <%= experience.user.region.name %></p>
                <p class="user-item">[<%=  t("activerecord.attributes.user.climate_id") %>] <%= experience.user.climate.name %></p>
                <p class="user-item">[<%=  t("activerecord.attributes.user.housemate_id") %>] <%= experience.user.housemate.name %></p>
                <p class="user-item">[<%=  t("activerecord.attributes.user.children_id") %>] <%= experience.user.children.name %></p>
                <p class="user-item">[<%=  t("activerecord.attributes.user.clean_status_id") %>] <%= experience.user.clean_status.name %></p>
              </td>
            </tr>
            <tr>
              <td class="header"><i class="fas fa-tags"></i></td>
              <td class="item"><%= tags_join(experience.tags) %></td>
            </tr>
            <tr>
              <td class="header"><i class="fas fa-angry"></i></td>
              <td class="item"><%= experience.stress %></td>
            </tr>
            <tr>
              <tr>
                <td class="header"><i class="far fa-check-circle"></i></td>
                <td class="item"><%= experience.category.name %></td>
              </tr>
              <tr>
                <td class="header"><i class="far fa-calendar-alt"></i></td>
                <td class="item"><%= experience.period.name %></td>
              </tr>
            </tr>
          </table>
        </div>
      <% end %>
      <%= paginate @experiences %>
    </div>
  </div>
</div>