<div class="experience-index">
  <div class="search-items">
    
  </div>
  <div class="cards">
    <h2>記事一覧</h2>
    <% @experiences.each do |experience| %>
      <div class="card">
        <div class="nickname">
          <%= experience.user.nickname %> が <%= l experience.updated_at %> に投稿
        </div>
        <div class="title">
          <%= experience.title %>
        </div>
        <table>
          <tr>
            <td class="header"><i class="fas fa-tags"></i></td>
            <td class="item">
              <% experience.tags.each do |tag| %>
                <p class="tag"><%= tag.name %></p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="header"><i class="fas fa-angry"></i></td>
            <td class="item"><%= experience.stress %></td>
          </tr>
          <tr>
            <td class="header"><i class="far fa-check-circle"></i></td>
            <td class="item"><%= experience.category.name %></td>
          </tr>
          <tr>
            <td class="header small"><i class="far fa-calendar-alt"></i></td>
            <td class="item small"><%= experience.period.name %></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>
