<div class="experience-index">
  <h1>経験の投稿記事一覧</h1>
  <div class="indexs">
    <%# 記事の検索 %>
    <div class="search-items">
      <h2>検&emsp;索</h2>
      <div class="field">
      <%= search_form_for @q, url: search_article_experiences_path do |f| %>
        <%= f.label :title_or_stress_or_content_body_cont, 'テキスト検索' %>
        <%= f.search_field :title_or_stress_or_content_body_cont %>
        <br>
        <details>
        <%# FIXME: tags_id_eq の翻訳がうまくいかない %>
        <%= f.label :tags_id_eq, 'タグ は以下と等しい' %>
        <%= f.collection_select :tags_id_eq, set_tag, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.label :category_id_eq %>
        <%= f.collection_select :category_id_eq, set_category, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.label :period_id_eq %>
        <%= f.collection_select :period_id_eq, set_period, :id, :name,  include_blank: '指定なし' %>
        <br>
        <%= f.label :sorts %>
        <%= f.select :sorts, set_sort %>
        <br>
        </details>
        <%= button_tag type: 'submit', class: "submit" do %>
          検索 <i class="fas fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
      </div>
    </div>
    <%# 記事の一覧 %>
    <div class="cards">
      <% @experiences.each do |experience| %>
        <%= render partial: 'shared/show_experience', locals: {experience: experience} %>
      <% end %>
      <%= paginate @experiences %>
    </div>
  </div>
</div>