<div class="experience-show">
  <%# 編集・削除 %>
  <div>
    <% if user_signed_in? %>
      <%= link_to "編集", "#" %>
      <p>or</p>
      <%= link_to "削除", "#", method: :delete %>
    <% end %>
  </div>

  <%# 基本情報 %>
  <%= render partial: 'shared/form_experience', locals: {experience: @experience} %>

  <%# 本文情報 %>
  <h3><%=  t("activerecord.attributes.experience.content") %></h3>
  <%= @experience.content %>

  <%# コメント %>
  <div>
    <h3>コメント</h3>
    <%= form_with model: [@experience, @comment], local: true do |f|  %>
      <%= f.text_area :comment %>
      <%= f.submit 'コメントする' %>
    <% end %>
    <% @experience.experience_comments.each do |comment| %>
      <%= comment.comment %>
      <%= link_to "編集", edit_experience_experience_comment_path(@experience, comment) %>
      <%= link_to "削除", experience_experience_comment_path(@experience, comment), method: :delete %>
    <% end %>
  </div>
</div>
