<!DOCTYPE html>
<html>
  <head>
    <title>MinimalismShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- header -->
    <header>
      <h1 class="title">
        <span class="page-menu">
          Minimal+ism
          <ul>
            <li><%= link_to "TOP", "/" %></li>
            <li><%= link_to "ABOUT", "#" %></li>
            <li><%= link_to "みんなの経験", "#" %></li>
          </ul>
        </span>
      </h1>
      <ul class='a-lists'>
        <% if user_signed_in? %>
        <span class="edit-menu">投稿する <i class="fas fa-edit"></i>
          <ul>
            <li><%= link_to "経験の記事", new_experience_path %></li>
          </ul>
        </span>
        <div class="notice">
          <i class="far fa-bell"></i><span><%= @notices.where(read: false).count %></span>
          <ul>
            <p>お知らせ（<%= link_to '一覧', user_path(@notices.first.user_id) %>）</p>
            <% @notices.each do |n| %>
              <li>
                <% if n.read %>
                  <div class="already">
                    <%= l n.created_at %><br>
                    <%= link_to n.message, n.url %>
                  </div>
                <% else %>
                  <div class="unread">
                    <%= l n.created_at %><br>
                    <%= link_to n.message, n.url %>
                  </div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <span class="user-menu"><%= current_user.nickname %>
          <ul>
            <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </span>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "btn login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "btn sign-up" %></li>
        <% end %>
      </ul>
    </header>
    <!-- contents -->
    <div class="contents">
      <%= yield %>
    </div>
    <!-- footer -->
    <footer>
    </footer>
  </body>
</html>
