<!DOCTYPE html>
<html>
  <head>
    <title>MinimalismShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- header -->
    <header>
      <h1 class="title">
        <span class="page-menu">
          <%= link_to "MinimalismShare", root_path %>
          <i class="far fa-caret-square-down"></i>
          <ul>
            <li><%= link_to "TOP", "/" %></li>
            <li><%= link_to "ABOUT", "#" %></li>
            <li><%= link_to "みんなの経験", "#" %></li>
          </ul>
        </span>
      </h1>
      <ul class='a-lists'>
        <% if user_signed_in? %>
        <span class="edit-menu">投稿する <i class="fas fa-edit"></i>
          <ul>
            <li><%= link_to "経験の記事", "#" %></li>
          </ul>
        </span>
        <span class="user-menu"><%= current_user.nickname %>
          <ul>
            <li><%= link_to "マイページ", "/users/#{current_user.id}" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </span>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "btn login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "btn sign-up" %></li>
        <% end %>
      </ul>
    </header>
    <!-- contents -->
    <%= yield %>
    <!-- footer -->
    <footer>
    </footer>
  </body>
</html>
